.header {
    max-width: 880px;
    min-height: 74px;
    margin: 45px 0 40px;
    border-bottom: 1px solid rgba(84,84,84, 0.7);
}
@media screen and (max-width: 500px) {
    .header {
        min-height: 56px;
        margin: 28px 0 42px;
    }
}


.header__logo {
    margin-bottom: 41px;
}

@media screen and (max-width: 500px) {
.header__logo {
        max-height: 24.4px;
        max-width: 104px;
        margin: 0 0 32px 27px;
    }
}